{% if __SELF__.type == 'richeditor' %}
<div
    data-control="editme"
    data-type="richeditor"
    data-handler="{{ __SELF__ }}::onSave"
    data-message="{{ __SELF__.message }}"
    data-model="{{ __SELF__.model_class }}"
    data-id="{{ __SELF__.model_id }}"
    data-upload-handler="{{ __SELF__ }}::onUpload"
    data-csrf-token="{{ __SELF__.csrf_token }}">
    <div class="rendered">{{ __SELF__.content|raw }}</div>
    <div
        class="editme-richeditor"
        {% if __SELF__.toolbarButtons %}data-toolbar-buttons="{{ __SELF__.toolbarButtons }}"{% endif %}
        {% if __SELF__.paragraphFormats %}data-paragraph-format="{{ __SELF__.paragraphFormats }}"{% endif %}
        data-links-handler="{{ __SELF__ }}::onLoadPageLinksForm"
        data-ace-vendor-path="{{ __SELF__.ace_vendor_path }}">
        <textarea style="display:none">{{ __SELF__.content }}</textarea>
    </div>
</div>
{% else %}
<span
    data-control="editme"
    data-type="plain"
    data-handler="{{ __SELF__ }}::onSave"
    data-message="{{ __SELF__.message }}"
    data-model="{{ __SELF__.model_class }}"
    data-id="{{ __SELF__.model_id }}">
    {{ __SELF__.content|raw }}
</span>
{% endif %}
